{% extends 'base.html' %}
{% block conteudo %}
    <h1>ATUALIZAÇÃO DE DADOS</h1>

    <div class="form1">
        <div class="formName">
            <button class="btn forms"><a href="" class="names">Atualizar Nome</a></button>
        </div>
        <div class="formEnder">
            <button class="btn forms"><a href="" class="names">Atualizar Endereço</a></button>
        </div>
    </div>

    <div class="form2">
        <div class="formCPF">
            <button class="btn forms"><a href="" class="names">Atualizar CPF</a></button>
        </div>
    </div>


{% endblock %}