  {% extends 'base.html' %}
  {% block conteudo %}
  <form action="/cadastrarUsuario" method="POST">
    <label>CPF: </label>
    <input type="text" name="cpf" id="cpf"/><br><br>

    <label>Nome: </label>
    <input type="text" name="nome" id="nome"/><br><br>

    <label>Telefone: </label>
    <input type="text" name="telefone" id="telefone"/><br><br>

    <label>Endereço: </label>
    <input type="text" name="endereco" id="endereco"/><br><br>

    <button class="btn">Cadastrar</button><br><br>
    </form>

    <button><a href="/listar">Consultar Tudo</a></button><br>
    <button><a href="/listarIndividual">Consultar Individual</a></button><br><br>
    <button><a href="/atualizar">Atualizar</a></button><br>
    <button><a href="/excluir">Excluir</a></button><br><br>
    <button><a href="/consultarNome">Consultar Nome</a></button><br>
    <button><a href="/atualizarNome">Atualizar Nome</a></button><br><br>
    <button><a href="/consultarEndereco">Consultar Endereço</a></button><br>
    <button><a href="/atualizarEndereco">Atualizar Endereço</a></button><br><br>
    <button><a href="/consultarCPF">Consultar CPF</a></button><br>
    <button><a href="/atualizarCpf">Atualizar CPF</a></button><br><br>
    <button><a href="/consultarTelefone">Consultar Telefone</a></button><br>
    <button><a href="/atualizarTelefone">Atualizar Telefone</a></button><br><br>
  {% endblock %}